@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }
  
  body {
    @apply font-sans antialiased transition-colors duration-300;
  }
}