@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }

  body {
    @apply bg-neutral-100 text-neutral-800 dark:bg-neutral-900 dark:text-gray-200;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}
